private/profile_private
log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app
coverage
coverage.data
db/*.sqlite3*
config/database.yml
config/rackspace-cloudfiles.yml
nbproject
db/development_structure.sql
tmp/restart.txt
public/blog
wordpress_for_jp
public/system
*.swp
*.swo
*.swn
*.swm
tmp/*
vendor/gems/cucumber*
vendor/gems/webrat*
*.pem
public/assets/*
vim/.netrwhist
